@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Marvel', sans-serif;
}

body {
  margin: 0;
  background-color: black;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-image: url("./assets/4085925-marvelsnaplowestwinratecard.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Marvel';
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(196, 39, 39) 4px 3px 0px;
  --darkreader-inline-color: #e8e6e3;
  --darkreader-inline-bgcolor: #404548;
  --darkreader-inline-bgimage: none;
}


.logo {
  width: 250px;
  height: 100%;
}

.logo-text p {
  width: 250px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cards-container{
  display: flex;
  flex: 1 1 25%;
  height: 100%;
}

.card {
  flex: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.7s;
  overflow: hidden;
  position: relative;  
}

.card-text {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0);
  text-shadow: rgb(196, 39, 39) 4px 3px 0px;
  --darkreader-inline-color: #e8e6e3;
  --darkreader-inline-bgcolor: #404548;
  --darkreader-inline-bgimage: none;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.card1 {
  background-image: url(https://p16-marketing-sg.bytedgame.com/obj/g-marketing-assets-sg/2023_08_22_16_10_51/SNAP_KA_1600X900_s336637.jpg);
}

.card2 {
  background-image: url(https://www.gamespot.com/a/uploads/scale_medium/1585/15855271/3978994-single_showcase_ghostrider_4x5_v2.png);
}

.card3 {
  background-image: url(./assets/foto\ de\ perfil.png);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(6px);
  z-index: -1;
  transition: transform 0.7s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card:hover .background-image {
  transform: scale(1.1);
}



footer {
  width: 100%;
  height: 10vh;
  background-color: rgb(141, 40, 199);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.5%;
  font-family: 'Marvel';
  font-weight: bold;
  font-size: 20px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(196, 39, 39) 4px 3px 0px;
  --darkreader-inline-color: #e8e6e3;
  --darkreader-inline-bgcolor: #404548;
  --darkreader-inline-bgimage: none;
}

.go-back-arrow {
  color: white;
  height: 100%;
}

.arrow-icon {
  width: 5vw;
  height: 100%;
}

.expanded-card {
  display: flex;
  width: 100%;
  height: 100%;
}

.whatis-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
}

.whatis-title-container {
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

.whatis-title {
  font-size: 6em;
}

.whatis-text-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.whatis-text {
  font-size: 2em;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.checkforcards-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95vw;
}

.checkforcards-title {
  font-size: 80px;
  color: white;
  text-align: center;
  margin-right: 5vw;
  margin-bottom: 30px;
  margin-top: 30px;
}

.checkforcards-btn-div{
  margin: 0 0 0 80vh;
}

.checkforcards-btn {
  width: 12em;
  height: 3em;
  margin-bottom: 30px;
  font-size: 15px;
}

.checkforcards-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.checkforcards-img {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.checkforcards-img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.checkforcards-cardname {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
}

.checkforcards-carddescription {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
}

.checkforcards-info {
  color: white;
  height: 100%;
  width: 70%;
  font-size: 50px;
}

.portfolio-image {
  width: 47.5vw;
  height: 50vh;
  object-fit: fill;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.portfolio-image1 { grid-area: 1 / 1 / 2 / 2; }
.portfolio-image2 { grid-area: 1 / 2 / 2 / 3; }
.portfolio-image3 { grid-area: 2 / 1 / 3 / 2; }
.portfolio-image4 { grid-area: 2 / 2 / 3 / 3; } 
  